*.log
*.DS_Store

# Development folders
.nyc_output/
docs/
test/

# Development files
.gitignore
.npmignore
.jshintrc
.travis.yml
appveyor.yml
webpack.config.js
rollup.config.js
BUILDING.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
ROADMAP.md